.footer {
    padding: 40px;
    background-color: #2d2d2d;
    color: white;
  }
  
  .footer-links {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-logo img {
    width: 100px;
  }
  